html {
  background-image: url(https://www.bmocm.com/about-us/images/location-map.gif);
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

/* .menuButton {
  padding-bottom: 10px;
} */

.container {
  border: transparent;
  display: table;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.dropDownContainer {
  position: relative;
  display: inline-block;
}

input,
select {
   @include transition;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
    .dropDownContainer:hover {
        background-color: rgba(0, 0, 0, 0.70);
    }
    .dropDownContainer:active {
        background-color: black;
    }
    .dropDownContainer:focus {
        outline: none;
    }
  

.customSelect {
  display: inline-block;
  select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position: 125px center;
  }
}

div.showLevel {
  margin: 0.5em 0em 0.5em 0em;
}

.noteMazeShow {
  font-weight: normal;
  font-style: italic;
  color: #666;
  font-size: 35px;
}

.row {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-row;
}

.cell {
  border: solid 3px transparent;
  display: table-cell;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.b-t {
  border-top-color:  black;
}

.b-b {
  border-bottom-color: black;
}

.b-r {
  border-right-color: black;
}

.b-l {
  border-left-color: black;
}

.player:before {
  content: "👱";
}

.player {
  position: absolute;
  border: solid 0.1px transparent;
  font-size: 30px;
}

.castle:before {
  content: "🏰";
}

.castle {
  position: absolute;
  border: solid 2px transparent;
  font-size: 30px;
}

#modal-message {
  visibility: hidden;
  color: white;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 1;
}

#message {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
